header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid rgb(17, 255, 0);
}

li {
    display: inline-block;
    margin: 15px;
    cursor: pointer;

}